---
# Only the main Sass file needs front matter (the dashes are enough)
---

html {
  font-size: 1.2rem;
}

body {
    font-family: "Space Mono", monospace;
}

html, body {
  background: #001020;
  color: white;
  fill: white;
}

.prompt {
  color: #f0f000;
}

.command {
  color: #00ffb8;
}

ul.work-experience, ul.education {
  position: relative;
  padding: 1rem 0 1rem 6rem;
  
  &:before {
    position: absolute;
    display: block;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 0.2rem;
    content: '';
    background: #6f6f6f;
  }
  
  .timeline-entry {
    position: absolute;
    display: block;
    left: 0;
    padding-left: 2rem;
    color: #6f6f6f;
    font-weight: bold;
    
    &:before {
      position: absolute;
      top: 0.5rem;
      display: inline-block;
      right: 100%;
      margin-right: -0.75rem;
      content: '';
      border-style: solid;
      border-width: 0.25rem 0 0.25rem 0.25rem;
      border-color: transparent transparent transparent #6f6f6f;
    }
    
    &:after {
      position: absolute;
      top: 0.5rem;
      right: 100%;
      margin-right: -0.5rem;
      display: inline-block;
      width: 1rem;
      height: 0.5rem;
      background: #6f6f6f;
      content: '';
    }
  }
}

ul.duties {
  list-style: none;
  padding-left: 1rem;
  font-size: .9rem;

  li:before {
    display: inline-block;
    content: '- ';
    margin-left: -1rem;
    width: 1rem;
  }
}