---
layout: default
---

<div class="cv">

  <div class="row">
    <div class="col-xl-3 col-md-4">

      <img class="my-4 mw-100 rounded-circle" src="{{ site_url }}/assets/photo.jpg" alt="My photo">

      <div class="text-center">
        <h3>Paweł Tatarczuk</h3>
        <h4 class="text-muted">SysOps/DevOps</h4>
      </div>

      <hr class="my-4">

      <h4 class="my-3">{% octicon person %} About</h4>

      <p class="text-justify">Web enthusiast, focused on clean, robust and efficient coding. Likes automating
      repetitive tasks as much as pushing code to the limits. In web industry since
      2008.</p>

      <hr class="my-4">

      <h4 class="my-3">{% octicon home %}  Personal</h4>

      <div class="d-flex justify-content-between">
        <div><strong>Birthday</strong></div>
        <div>02 October 1992</div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Nationality</strong></div>
        <div>Polish</div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Location</strong></div>
        <div>Wrocław, Poland</div>
      </div>

      <hr class="my-4">

      <h4 class="my-3">{% octicon star %}  Skills</h4>

      <div class="d-flex justify-content-between">
        <div><strong>PHP</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Docker</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Ansible</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Linux</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Node.js</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>Python</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>CI/CD</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>SQL/NoSQL</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>

      <hr class="my-4">

      <h4 class="my-3">{% octicon comment-discussion %} Languages</h4>

      <div class="d-flex justify-content-between">
        <div><strong>Polish</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>English</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div><strong>German</strong></div>
        <div>
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #007bff;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
          {% octicon primitive-dot style: "fill: #c9c9c9;" %}
        </div>
      </div>

    </div>
    <div class="offset-xl-2 col-xl-7 offset-md-1 col-md-7">

      <h4 class="my-5">
        {% octicon briefcase %} Work experience
      </h4>

      <ul class="work-experience">
        <li class="d-block pb-4">
          <span class="timeline-entry">now</span>
          <h5>Unity Software</h5>
          <h6>Senior Web Developer</h6>
          <p class="text-muted">01.2019 - now</p>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2018</span>
          <h5>Piwik PRO <span class="float-right text-muted">(1 year)</span></h5>
          <h6>System Administrator</h6>
          <p class="text-muted">03.2018 - 12.2018</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="responsibilites p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Sysadmin</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">SysOps</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">DevOps</span></li>
              </ul>
              <ul class="tags p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">MySQL</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Elasticsearch</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">RabbitMQ</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Redis</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Ansible</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Puppet</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Travis CI</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Nagios</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Docker</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Rancher</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">High-Availability</span></li>
              </ul>
            <div>
          </div>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2018</span>
          <h5>Magently <span class="float-right text-muted">(4 years)</span></h5>
          <h6>Expert Web & Infrastructure Developer</h6>
          <p class="text-muted">01.2014 - 02.2018</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="responsibilites p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Fullstack</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Sysadmin</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">DevOps</span></li>
              </ul>
              <ul class="tags p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">PHP</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Python</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Node.js</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">Magento</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">Laravel</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">FuelPHP</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">Express</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">MongoDB</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">MySQL</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Ansible</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Jenkins</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Travis CI</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Nagios</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">OpenLDAP</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Docker</span></li>
              </ul>
            <div>
          </div>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2014</span>
          <h5>Chop-Chop <span class="float-right text-muted">(2 years)</span></h5>
          <h6>Web Developer</h6>
          <p class="text-muted">01.2012 - 12.2013</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="responsibilites p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Fullstack</span></li>
              </ul>
              <ul class="tags p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">PHP</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">JavaScript</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">CSS3</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">HTML5</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">Drupal</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">WordPress</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">jQuery</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">MySQL</span></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2012</span>
          <h5>Freelance <span class="float-right text-muted">(4 years)</span></h5>
          <p class="text-muted">2008 - 01.2012</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="responsibilites p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Fullstack</span></li>
              </ul>
              <ul class="tags p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">PHP</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">JavaScript</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">CSS</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">HTML</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">Drupal</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-success">jQuery</span></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <h4 class="my-5">
        {% octicon mortar-board %} Education
      </h4>

      <ul class="education">
        <li class="d-block pb-4">
          <span class="timeline-entry">2016</span>
          <h5>Master's degree</h5>
          <h6>Politechnika Wrocławska</h6>
          <p class="text-muted">2014 - 2016</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="study-fields p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-dark">Computer science</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Information and communication technologies</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Mutation testing</span></li>
              </ul>
              <ul class="tags p-0 pb-4">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Java</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Project management</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">UML</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">BPMN</span></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2014</span>
          <h5>Engineer's degree</h5>
          <h6>Politechnika Wrocławska</h6>
          <p class="text-muted">2011 - 2014</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="study-fields p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-dark">Computer science</span></li>
              </ul>
              <ul class="tags p-0 pb-4">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Java</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Scala</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">OCaml</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">Bash</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">MySQL</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Linux</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-primary">Data factories</span></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-block pb-4">
          <span class="timeline-entry">2010</span>
          <h5>Participation in 2nd stage of 17th Computer science olympics in Poland</h5>
          <h6>Politechnika Poznańska</h6>
          <p class="text-muted">2010</p>
          <div class="row">
            <div class="col-md-10">
              <ul class="study-fields p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Alrgorithmics</span></li>
                <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Data structures</span></li>
              </ul>
              <ul class="tags p-0">
                <li class="d-inline-block"><span class="badge badge-pill badge-warning">C++</span></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
