---
layout: default
---

<div class="home">
  
    <h1 class="display-1 mt-5">Hello!</h1>
    <p class="h4">Welcome to my personal page. My name is <strong>Paweł Tatarczuk</strong> and I'm a web enthusiast.</p>
    <hr class="my-4">
    <p>
      My journey with web development starts in 2008 with my first web portal 
      built with CPanel, it was a fanpage of a popular German game. 
      Since then I've been improving my web skills with numerous small projects.
      In 2011 I went to study Computer Science at Politechnika Wrocławska.
      During the second semester I've started working in Chop-Chop (later Magently),
      besides web development I've been responsible for company's infrastructure 
      and development processes.
    </p>
</div>
