---
layout: default
---

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<div class="home">

  <p id="typewriter" style="white-space: pre-line;">
    <span class="prompt">trawiasty@github.io$</span> <span class="command">hi</span>

    <span class="display-4">Hi!</span>

    I'm Paweł Tatarczuk, welcome to my website.

    <span class="prompt">trawiasty@github.io$</span> <span class="command">journey</span>

    Not much to say, I've learned programming for years.
    It seems like I'm not getting closer to the end.
    Here's a draft how it went so far:

    2008 - jportal
    2011 - drupal
    2014 - fuelphp
    2016 - magento
    2019 - laravel
  </p>
</div>

<script type="text/javascript">
  const html = document.getElementById('typewriter').innerHTML;
  const strings = html.trim().split('\n');
  console.log(html);
  const typewriter = new Typewriter('#typewriter', {
    delay: 20
  });

  strings.forEach((string) => {
    typewriter
      .typeString(string + '\n')
      .pauseFor(60);
  });

  typewriter.start();
</script>
