---
layout: default
---

<div class="work">
  
  <h1 class="my-5">My work</h1>
  
  <div class="row mb-5">
    <div class="col">
      <div class="d-flex mb-4 justify-content-between">
        <h4 class="m-0">Propsy</h4>
        <a href="https://github.com/trawiasty/propsy">GitHub</a>
      </div>
      <p>
        Node.js site delivering locations of pet-friendly places on Google Map
        with geolocation and search functionality.
      </p>
      <ul class="tags p-0">
        <li class="d-inline-block"><span class="badge badge-pill badge-warning">Node.js</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-success">Express</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">MongoDB</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Google Maps API</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Site</span></li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex mb-4 justify-content-between">
        <h4 class="m-0">Toggl2Redmine</h4>
        <a href="https://github.com/trawiasty/toggl2redmine">GitHub</a>
      </div>
      <p>
        Simple Node.js CLI providing integration of Toggl's time enries
        with Redmine's time spents.
      </p>
      <ul class="tags p-0">
        <li class="d-inline-block"><span class="badge badge-pill badge-warning">Node.js</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Toggl</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Redmine</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-secondary">CLI</span></li>
      </ul>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col">
      <div class="d-flex mb-4 justify-content-between">
        <h4 class="m-0">Grassy-CI</h4>
        <span class="text-muted">in progress</span>
      </div>
      <p>
        Prototype of a CI platform built with Laravel as a mediator between
        GitHub (Git repositories provider) and Jenkins (build server).
      </p>
      <ul class="tags p-0">
        <li class="d-inline-block"><span class="badge badge-pill badge-warning">PHP</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-success">Laravel</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">GitHub</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Jenkins</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-secondary">CI</span></li>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex mb-4 justify-content-between">
        <h4 class="m-0">Judy generator experiment</h4>
        <a href="https://github.com/trawiasty/judy-generator-experiment">GitHub</a>
      </div>
      <p>
        Experiment used for my Master's degree paper. It provides unified
        environment for Judy-Generator and mutation analysis.
      </p>
      <ul class="tags p-0">
        <li class="d-inline-block"><span class="badge badge-pill badge-warning">Java</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Docker</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">Judy</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-primary">EvoSuite</span></li>
        <li class="d-inline-block"><span class="badge badge-pill badge-secondary">Experiment</span></li>
      </ul>
    </div>
  </div>

</div>
